@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    color: f6f6f6;
    background-color: black;
    font-family: Arial, sans-serif;
}
.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;     
    height: 90vh;           
    text-align: center;  
}
#ordem{
    flex-direction: column;
    display: flex;
    align-items: center;
}
#portifolio{
    color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#paragrafo{
    display: flex;
    width: 650px;
    flex-direction: column;
    margin-right: 40px; 
}
.texto{
    color: #f6f6f6;
    margin: 5px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}
.image{
    width: 400px;
    border-radius: 10px;
    height: 400px;
}


#botoes{
    align-items: center;
    padding: 20px;
    gap: 50px;
    justify-content: space-around;
    display: flex;
}
.link{
    color: #e8e8e8;
    padding: 10px 20px;
    font-size: 16px;
    background-color:#333333;
    border-radius: 16px;
    justify-content: space-between;
    margin-bottom: 10px;
    text-decoration: none;
}
.link_imagem{
    width: 50px;
    background-color:#333333;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #e8e8e8;
}

.rodape-link{
    align-items: center;
    padding: 10px;
    gap: 50px;
    justify-content: space-around;
    display: flex;
    max-width: 360px;
    margin: auto;
}